

.banner{
    margin-top: 25px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./img/Banner.png);
    background-position: center;
    height: 550px;
    width: 85%;
    margin-left: 110px;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.banner-text{
    color: #fff;
    text-align: center;
    padding: 200px;
}
.banner-text h1{
font-size: 70px;
margin: 0px;
}
.discount-container{
    text-align: center;
}
.discount{
    color: #FF0000;
    font-size: 80px;
}
.holiday-deals{
    font-size: 18px;
    color: #FF0000;
}
.category{
    font-size: 40px;
}

.midnight-container{
    background: linear-gradient(90deg,#070211 0%,rgba(7, 2, 17, 0.00)100%), url('./img/Vectorrr.png') ;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    width: 85%;
    margin-left: 110px;
    margin-bottom: 30px;
    margin-top: 70px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.midnight-text{
    font-size: 60px;
}
.midnight-text-container{
    margin-top: 70px;
}
.join{
    font-weight: 700;
    font-size: 20px;
    font-family: inter;
    margin-left: 15px;
}
.year{
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-container{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    height: 350px;
    width: 85%;
    border-radius: 8px;
    margin-left: 110px;
    padding-top: 30px;
    font-weight: 700;
    font-size: 25px;
}
.address-container p span{
    color: #FF0000;
}
.btn-container{
    text-align: center;
    margin-top: 17px;
}
.join-btn{
    background-color: #FF0000;
   border: none;
   padding: 10px 15px;
   border-radius: 8px;
}

.bonus-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
   justify-content: space-around;
}
.best-offer{
    margin-right: 50px;
}
.best-offer h5{
    margin: 0%;
    color: #FF0000;
    font-size: 20px;
}
.best-offer h2{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 12px;
}

.avater img{
    height: 300px;
    width: 300px;
    margin: 20px;
}
.avater{
    border: 10px solid #FF0000;
    border-radius: 50%;
}

.new-year h5{
    margin: 0%;
    font-size: 40px;
    font-weight: 700;
    color: #FF0000;
}
.new-year img{
    height: 100px;
    width: 100px;
}
.portfolio-title h4{
color: #FF0000;
}
.portfolio-title h1{
    font-size: 50px;
    margin: 0%;
}
.portfolio-title{
    margin-left:110px;
}
.cards img{
    height: 400px;
    width: 350px;
}
.cards img:hover{
    transition:all 1s ease;
    height: 250px;
    width: 200px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 85%;
    margin-left: 70px;

}
.contact{
    background-color: rgba(255, 0, 0, 0.05);
    margin-left: 110px;
    margin-right: 110px;
    border-radius: 12px;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 60px;
    text-align: center;
}
.contact h1{
    font-size: 40px;
}
.contact input{
    height: 40px;
    width: 400px;
    border-radius: 35px;
    border: none;
   padding-left: 17px;
}
.contact button{
    background-color: #FF0000;
    height: 42px;
    width: 100px;
    border-end-end-radius: 35px;
    border-top-right-radius: 35px;
    margin-left: -105px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #fff;
}
footer{
    background-color:  #070211;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.footer-title{
    line-height: 30px;
}
.footer-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0px;
    line-height: 30px;
}
.footer-contact img{
    width: 18px;
    height: 18px;
}
.footer-contact p{
    margin: 0%;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30PX;
    margin-bottom: 30PX;
}
.social-icon img{
    width: 35px;
    height: 35px;
}
.footer-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-text p{
    color: #fff;
}
